---
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const endpoint = "https://flxrgxrvxeximsskwubc.supabase.co/rest/v1/people?select=*";

  const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZseHJneHJ2eGV4aW1zc2t3dWJjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDM4NTEwNTAsImV4cCI6MjA1OTQyNzA1MH0.xAOE81P0J3Rbdu_mZXneRAPUTNpiVhn7VSpHU8S3AnU";

  const options = {
    method: "GET",
    headers: {
      apikey: key,
    },
  };
  const response = await fetch(endpoint, options);
  const data = await response.json();

  return data.map((post) => {
    return {
      params: { id: post.id },
      props: { post },
    };
  });
}

const { id } = Astro.params;
const { post } = Astro.props;
---

<Layout>
  <h1>{post.firstname} {post.lastname}</h1>
  <img src=`https://flxrgxrvxeximsskwubc.supabase.co/storage/v1/object/public/people/${post.image}` alt="profilbillede" />
</Layout>
