---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>About Us</h1>
  <h3>Ipsum dolor sit amet consectetur.</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam esse ut fugit magni impedit vero laboriosam repellendus maiores maxime. Eius voluptas iure, quis expedita sapiente libero aliquam facere velit, sit consectetur voluptatibus dicta fuga debitis facilis quaerat modi harum molestias illo quisquam excepturi nisi eum sunt ea! Odit, amet facere pariatur accusantium aliquid qui modi, veniam voluptatibus nihil laborum vero sunt libero autem dolore praesentium. Officiis quis omnis rem! Ullam fugit consequatur blanditiis laboriosam, nihil quas corrupti quos voluptate sapiente consequuntur, delectus repellat, neque aliquid voluptatem! Suscipit error mollitia eius magnam quam ullam quidem, quasi dicta sint? Excepturi nihil facilis corporis rerum omnis ab, est impedit ex velit voluptatum
    vitae doloribus numquam labore perferendis, expedita magni similique voluptate. Libero maxime magnam repudiandae dolor veniam at vero aut voluptatem aliquam quisquam. Quisquam perferendis corrupti omnis ducimus dolor mollitia ipsa praesentium alias, numquam rerum repudiandae ipsam nihil recusandae nobis minima doloribus ad necessitatibus? Non soluta dolor ab officia pariatur veritatis est mollitia a dignissimos labore in quibusdam, sint aperiam excepturi libero laboriosam porro dolorum iste quae. Cum impedit fuga hic temporibus? Sint ipsam voluptatum doloribus recusandae necessitatibus eligendi dignissimos velit beatae, tempora quidem neque, porro cupiditate, vitae provident fugiat iste ratione non.
  </p>
</Layout>

<style>
  p {
    column-count: 3;
  }
</style>
