---
import Layout from "../layouts/Layout.astro";
import Catcard from "../components/Catcard.astro";
const endpoint = "https://kea-alt-del.dk/t7/api/categories";

const data = await fetch(endpoint).then((res) => res.json());
console.log(data);
---

<Layout>
  <h1>Forside</h1>
  <h2>Kategorier</h2>
  <section>
    {data.map((product) => <Catcard data={product} />)}
  </section>
</Layout>

<style>
  section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
  }
</style>
