---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const endpoint = "https://flxrgxrvxeximsskwubc.supabase.co/rest/v1/people?select=*";

const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZseHJneHJ2eGV4aW1zc2t3dWJjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDM4NTEwNTAsImV4cCI6MjA1OTQyNzA1MH0.xAOE81P0J3Rbdu_mZXneRAPUTNpiVhn7VSpHU8S3AnU";

const options = {
  method: "GET",
  headers: {
    apikey: key,
  },
};

const data = await fetch(endpoint, options).then((res) => res.json());
console.log(data);
---

<Layout>
  <h1>Medlemmer</h1>

  <button>Alle</button>
  <button>Aktive</button>
  <button>Passive</button>

  <h3>Lektorer</h3>
  <section>
    {data.map((member) => member.title == "Lektor" && <Card data={member} />)}
  </section>
  <h3>Adjunkter</h3>
  <section>
    {data.map((member) => member.title == "Adjunkt" && <Card data={member} />)}
  </section>
</Layout>

<style>
  section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
  }
</style>

<script>
  document.querySelectorAll("button").forEach((button) => button.addEventListener("click", filtrer));

  function filtrer(e) {
    document.querySelectorAll("section a").forEach((elm) => elm.classList.remove("hide"));
    if (e.target.textContent == "Aktive") {
      document.querySelectorAll(".passiv").forEach((elm) => elm.classList.add("hide"));
    }
    if (e.target.textContent == "Passive") {
      document.querySelectorAll(".aktiv").forEach((elm) => elm.classList.add("hide"));
    }
  }
</script>
