---
const { data } = Astro.props;
---

<a href=`member/${data.id}` class={data.active ? "aktiv" : "passiv"}>
  <article>
    <img src=`https://flxrgxrvxeximsskwubc.supabase.co/storage/v1/object/public/people/${data.image}` alt="profilbillede" />
    <div>
      <h2>{data.firstname} {data.lastname}</h2>
    </div>
  </article>
</a>

<style>
  a {
    position: relative;
  }
  img {
    max-width: 100%;
  }
  article {
    text-align: right;
    border-top: 1px solid;
    border-right: 1px solid;
  }
  div {
    padding-right: 1rem;
  }
  .aktiv::after {
    content: "aktiv";
    padding: 0.3rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #eee;
    color: #111;
  }
</style>
