:root {
  /* set color-scheme to switch between light or dark */
  color-scheme: light dark;
  --light-bg: snow;
  --light-color: #012;
  --dark-bg: #012;
  --dark-color: snow;
}

* {
  background-color: light-dark(var(--light-bg), var(--dark-bg));
  color: light-dark(var(--light-color), var(--dark-color));
}

html:has(#light_mode:checked) {
  color-scheme: light;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
a {
  color: hsl(0, 0%, 93%);
  text-decoration: none;
}

#lm {
  text-align: right;
  padding-top: 1rem;
}
