body {
  max-width: 1000px;
  margin: auto;
  background-color: #111;
  color: #eee;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
a {
  color: #eee;
  text-decoration: none;
}

.hide {
  display: none;
}
