<header>
  <div>LOGO</div>
  <nav>
    <a href="/">Home</a>
    <a href="/products">Products</a>
    <a href="/about">About Us</a>
  </nav>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  a {
    padding: 1rem;
    color: #eee;
    text-decoration: none;
  }
</style>
